.advantage{



    &__list {    
        display: flex;
        gap: 30px;
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    &__item::before {
        content: "";
        height: 120px;
        display: block;
        background-repeat: no-repeat;
        background-color: #f5f4fa;
        border-radius: 4px;
        background-position: center;
        margin-bottom: 30px;
    }
    
    &__item:first-child::before {
        background-image: url("../../images/antenna.png");
    }
    
    &__item:nth-child(2)::before {
        background-image: url("../../images/clock.png");
    }
    
    &__item:nth-child(3)::before {
        background-image: url("../../images/diagram.png");
    }
    
    &__item:last-child::before {
        background-image: url("../../images/astronaut.png");
    }
    
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
        margin-bottom: 10px;
    }
    
    &__Description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    
    
    }
    }