/* clients */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;


&__text {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}



&__list {
@extend %list-posisition;
    gap: 30px;
}

&__item {
    width: 170px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    cursor: pointer;
    fill: #AFB1B8;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.02, 1),
        border 250ms cubic-bezier(0.4, 0, 0.02, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.02, 1);


}



&__item:hover,
&__item:focus-within {
    border: 1px solid #2196F3;
    fill: #2196F3;
    transform: scale(1.075);
}



&__icons {
    width: 106px;
    height: 60px;

}
}