
.team {
    padding-bottom: 94px;
    padding-top: 94px;
    background: #F5F4FA;




&__list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

&__item {
    background: #ffffff;
    box-shadow: 0 px 4px rgba(0, 0, 0, 0.1);
    animation: opacity-card 2s ease 200ms both;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__item:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.050);
}

&__item:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.050);
}

@keyframes opacity-cards {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

&__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

&__img {
    width: 100%;
    height: auto;

}

&__name {
    line-height: 0.842;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;


    color: #212121;

}

&__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

&__icon-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 16px;
    padding-bottom: 30px;
}

&__icon-item {
    border-radius: 100%;
    padding: 12px;
    width: 44px;
    height: 44px;
    transition: transform 1s linear 50;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1) color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



&__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;
}

&__icon-item:hover &__icon,
&__icon-item:focus-within &__icon {
    fill: #FFF;
}

&__icon-item:hover,
&__icon-item:focus-within {
    background-color: #2196F3;

}
}