.footer {
    @include block-model(0, 60px 0);
  
    background-color: #2f303a;
  
    &__container {
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 90px;
      }
    }
  
    &__box {
      @media screen and (min-width: 768px) {
        @include block-model(0 0 60px);
  
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 165px;
      }
  
      @media screen and (min-width: 1200px) {
        @include block-model();
  
        gap: 70px;
      }
  
      & > .footer__flex {
        @include block-model(0 0 60px);
  
        @media screen and (min-width: 768px) {
          @include block-model();
        }
      }
    }
  
    &__flex {
      @extend %flex;
      flex-direction: column;
  
      @media screen and (min-width: 1200px) {
        align-items: flex-start;
      }
    }
  
    &__adress {
      @include block-model(20px 0 9px);
  
      @include text-styles(14px, 1.71);
      color: $light-text-color;
      font-style: normal;
    }
  
    &__title {
      @include block-model(0 0 20px);
  
      @include text-styles(14px, normal, 0.42px);
      color: $light-text-color;
      font-weight: 700;
      text-transform: uppercase;
    }
  
    &__form {
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: flex-end;
      }
    }
  
    &__label {
      @include block-model(0 0 20px);
  
      @include text-styles(14px, normal, 0.42px);
      color: $light-text-color;
      font-weight: 700;
      text-transform: uppercase;
    }
  
    &__input {
      @include size(100%, 50px);
      @include block-model(0, 0 16px, 1px solid rgba(255, 255, 255, 0.3), 4px);
  
      background-color: rgba(33, 150, 243, 0);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  
      @include text-styles(16px, 1.25, 0.48px);
      color: rgba(255, 255, 255, 1);
  
      transition: border $transition;
  
      @media screen and (min-width: 480px) {
        @include size(450px, 50px);
      }
  
      @media screen and (min-width: 1200px) {
        @include size(358px, 50px);
      }
  
      &:focus {
        @include block-model(0, 0 16px, 1px solid $blue, 4px);
      }
  
      &::placeholder {
        @include text-styles(16px, 1.25, 0.48px);
        color: rgba(255, 255, 255, 0.6);
      }
    }
  
    &__btn {
      @include size(200px, 50px);
      @include block-model(20px auto, 10px 28px 10px 31px, none, 4px);
  
      background-color: $blue;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  
      @extend %flex;
      gap: 10px;
  
      transition: transform $transition;
  
      &:hover,
      &:focus {
        transform: scale(1.075);
      }
  
      @media screen and (min-width: 1200px) {
        @include block-model(0 0 0 12px, 10px 28px 10px 31px, none, 4px);
      }
    }
  
    &__span--form {
      @include text-styles(16px, 1.87, 0.96px);
      color: $light-text-color;
      text-align: center;
      font-weight: 700;
    }
  
    &__icon--form {
      @include size(24px, 24px);
  
      fill: $light-text-color;
    }
  }