.header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  
    @include size(auto, 60px);
    @include block-model(0, 16px 0);
    border-bottom: 1px solid #ececec;
  
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
  
    @media screen and (min-width: 768px) {
      @include size(auto, 80px);
      @include block-model(0, 21px 0);
    }
  
    @media screen and (min-width: 1200px) {
      position: fixed;
  
      @include block-model(0, 25px 0 24px);
    }
  
    &__container {
      @extend %flex;
    }
  
    &__box {
      @include size(100%);
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      @media screen and (min-width: 768px) {
        @include size();
      }
    }
  
    &__burger {
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  
    &__line {
      @include size(24px, 3px);
  
      background-color: #000;
  
      transition: background-color $transition;
    }
  
    &__navigation {
      @extend %flex;
      display: none;
  
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  
    &__pages {
      @include block-model(0 0 0 93px);
  
      @extend %flex;
      gap: 50px;
    }
  
    &__page {
      position: relative;
    }
  
    &__link {
      @include text-styles(14px, 1.14, 0.02em);
      color: $text-color;
      font-weight: 500;
  
      transition: color $transition;
  
      &:hover,
      &:focus {
        color: $blue;
      }
    }
  
    &__link--active {
      position: relative;
  
      color: $blue;
  
      &::after {
        content: "";
  
        position: absolute;
        top: 45px;
        left: 50%;
  
        @include size(100%, 4px);
        @include block-model(0, 0, none, 2px);
        display: block;
  
        background-color: $blue;
        transform: translatex(-50%);
  
        @media screen and (min-width: 1200px) {
          top: 44.5px;
        }
      }
    }
  
    &__link--studio,
    &__link--portfolio,
    &__link--contacts {
      position: relative;
  
      &::after {
        content: "";
  
        position: absolute;
        top: 45px;
        left: 50%;
  
        @include size(0, 4px);
        @include block-model(0, 0, none, 2px);
        display: block;
  
        background-color: $blue;
        transform: translateX(-50%);
        opacity: 0;
  
        transition: opacity $transition, width $transition;
  
        @media screen and (min-width: 1200px) {
          top: 44.5px;
        }
      }
  
      &:hover::after,
      &:focus::after {
        @include size(100%, 4px);
  
        opacity: 1;
      }
    }
  }