.header{
    border-bottom: solid 1px #ececec;


&__flex {
    display: flex;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 24px;
}

&__navigation {
    display: flex;
    align-items: center;
}

&__pages {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 93px;
}

&__link {
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    justify-content: right;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


&__link:hover {
    color: #188CE8;

}



&__link:focus {
    color: #2196f3;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;

}

&__underline {
    font-weight: 500;
    color: #212121;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    justify-content: right;
    position: relative;

}

&__underline::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #2196f3;
    border-radius: 3px;
    position: absolute;
    top: 43px;
    left: 0;
}


&__underline:after {
    content: "";
    opacity: 1;
    transform: scaleX(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__icon {
    padding-right: 10px;
}

&__icon:hover {
    color: #2196f3;
}

&__contacts {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: auto;
}

&__navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__svg {
    width: 16px;
    height: 15px;
    fill: #757575;
}

&__svg:hover {
    fill: #2196F3;
}


&__navigation:hover &__svg,
&__navigation:focus &__svg {
    fill: #2196F3;
}

&__emael {
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__emael:hover {
    color: #188CE8;

}

&__emael:focus {
    color: #188CE8;

}

&__phonenumber {
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__phonenumber:hover {
    color: #188CE8;

}

&__phonenumber:focus {
    color: #188CE8;

}

&__logo2 {
    color: #2196f3;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}

&__logo1 {
    color: #000000;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    line-height: 1.19;
}
}