.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1001;
  
    transition: top $transition;
  
    &.is-hidden {
      top: 100vh;
  
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
    }
  
    @include block-model(0, 48px 83px 48px 40px);
  
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $light-text-color;
  
    &::-webkit-scrollbar {
      display: none;
    }
  
    &__close {
      position: absolute;
      top: 10px;
      right: 15px;
  
      background-color: transparent;
    }
  
    &__cross {
      @include size(40px, 40px);
  
      fill: $text-color;
    }
  
    &__pages {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    &__link {
      @include text-styles(40px, normal, 0.8px);
      font-weight: 500;
  
      transition: color $transition;
  
      &--active {
        color: #2196f3;
      }
  
      &--studio,
      &--portfolio,
      &--contacts {
        color: $text-color;
      }
  
      &--studio:hover,
      &--studio:focus,
      &--portfolio:hover,
      &--portfolio:focus,
      &--contacts:hover,
      &--contacts:focus {
        color: $blue;
      }
  
      &--social {
        position: relative;
  
        @include text-styles(18px, 0.81, 0.36);
        color: #2196f3;
  
        &::after {
          content: "";
  
          position: absolute;
          top: 50%;
          left: -10px;
  
          @include size(1px, 22px);
          display: block;
  
          background-color: rgba(33, 33, 33, 0.2);
          transform: translateY(-50%);
        }
      }
    }
  
    &__list {
      @include block-model(302px 0 64px);
  
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    &__contact {
      @include text-styles(24px, normal, 0.48px);
      color: #757575;
      font-weight: 500;
  
      transition: color $transition;
  
      &:hover,
      &:focus {
        color: $blue;
      }
  
      &--tel {
        @include text-styles(34px, normal, 0.68px);
        color: $blue;
      }
    }
  
    &__socials {
          @include block-model(0, 4px 0);
  
      display: flex;
      gap: 20px;
          flex-wrap: wrap;
  
          overflow: hidden;
    }
  }