// scrollbar

::-webkit-scrollbar {
    @include size(15px);
  
    &-track {
      background-color: #f1f1f1;
    }
  
    &-thumb {
      @include block-model(0, 0, none, 8px);
  
      background-image: linear-gradient($blue, #1b81d4);
  
      &:hover {
        background-image: linear-gradient(#1b81d4, #1475c5);
      }
    }
  }
  
  // common styles
  
  * {
    font-family: "Roboto";
  
    &::selection {
      color: $light-text-color;
  
      background-color: $blue;
    }
  }
  
  body {
    overflow-x: hidden;
  
    @media screen and (min-width: 1200px) {
      @include block-model(0, 80px 0 0);
    }
  }
  
  .container {
    @include size(100%);
    @include block-model(0 auto, 0 15px);
  
    @media screen and (min-width: 1200px) {
      @include size(1200px);
    }
  }
  
  // blocks
  
  .logo {
    display: flex;
  
    &__span {
      @include text-styles(24px, 1.19);
      font-family: "Raleway";
      font-weight: 700;
  
      @media screen and (min-width: 1200px) {
        @include text-styles(26px, 1.19);
      }
  
      &--blue {
        color: $blue;
      }
  
      &--black {
        color: #000000;
      }
  
      &--white {
        color: $light-text-color;
      }
    }
  }
  
  .contacts-list {
    display: flex;
  
    &--header {
      @include block-model(0 0 0 auto);
      display: none;
  
      align-items: flex-start;
  
      @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
  
      @media screen and (min-width: 1200px) {
        gap: 30px;
        flex-direction: row;
      }
    }
  
    &--footer {
      gap: 9px;
      flex-direction: column;
    }
  
    &__contact {
      &--footer {
        @include size(136px);
      }
    }
  
    &__link {
      color: #757575;
  
      display: flex;
      align-items: center;
      gap: 10px;
  
      transition: color $transition;
  
      & > span {
        font-weight: 500;
        font-size: 12px;
  
        @media screen and (min-width: 1200px) {
          font-size: 14px;
        }
      }
  
      &:hover,
      &:focus {
        color: $blue;
      }
  
      &:hover .contacts-list__icon,
      &:focus .contacts-list__icon {
        fill: $blue;
      }
    }
  
    &__icon {
      fill: #757575;
  
      outline: none;
  
      transition: fill $transition;
  
      &--envelope {
        @include size(14px, 10px);
  
        @media screen and (min-width: 1200px) {
          @include size(16px, 12px);
        }
      }
  
      &--tel {
        @include size(10px, 14px);
  
        @media screen and (min-width: 1200px) {
          @include size(10px, 16px);
        }
      }
    }
  }
  
  .social {
    @extend %flex;
    gap: 10px;
  
    &--team {
      @include block-model(16px 0 0);
    }
  
    &__focus {
      @include block-model(0, 12px, none, 50%);
  
      background-color: $light-text-color;
  
      animation: borderRadius 2000ms cubic-bezier(0.4, 0, 0.2, 1) infinite paused;
  
      transition: background-color $transition;
  
      &:hover,
      &:focus {
        background-color: $blue;
  
        animation-play-state: running;
      }
  
      &:hover .social__icon,
      &:focus .social__icon {
        fill: $light-text-color;
      }
  
      &--footer {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  
    &__icon {
      @include size(20px, 20px);
  
      @extend %flex;
  
      fill: $grey;
      outline: none;
  
      transition: fill $transition;
  
      &--footer {
        fill: $light-text-color;
      }
    }
  }